html, body, div, canvas {
  margin: 0;
  padding: 0;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#signDiv {
  margin: auto;
  top: 25%;
  width: 200px;
  height: 120px;
  border: 1px solid #000000;
  background-color: #333333;
}

#signDiv-username, #signDiv-password {
  display: block;
  margin: auto;
}

#signDiv-username {
  margin-top: 20px;
}

#loginButtons {
  padding-top: 10px;
  text-align: center;
  background-color: #333333;
}

.gameWindow {
  margin: 0;
  padding: 0;
  cursor: url(images/hud/cursor_css.png), auto;
}

#chat-text, #chat-input, #chat-button{
  background-color: #333333;
  color: #a6a6a6;
  border:1px solid #000000;
}

.chat-message, #chat-input {
  font-family: Arial;
  font-size: 10pt;
}
